.mysidebar{
    position: relative;
}
.sidePlanet{
    position: absolute;
    width: 65%;
    max-width: 85%;
    height: 70%;
    left: -320px;
    z-index: 0;
}
.sideMars img{
    width: 50px;
    position: absolute;
    left: 520px;
    z-index: -1;
    top: 110px;
}
.sideUranus img{
    width: 60px;
    position: absolute;
    z-index: -1;
    left: 530px;
    top: 470px;
}
.sideEarth img{
    width: 260px;
    position: absolute;
    left: 200px;
    z-index: 0;
    top: 190px;
}
.sideSpinner{
    position: absolute;
    top: 120px;
    z-index: 0;
    left: 170px;
    width: 410px;
    height: 410px; 
    border-bottom: 2px solid #FFFFFF;   
    border: 2px solid #FFFFFF - 0%;
    border-top: 2px solid #FEBD81;
    border-radius: 50%;
    animation: spin 2s linear infinite reverse; /* Use 'reverse' to rotate anticlockwise */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 
.sideSpinner:before{
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, #ff6347, #333);
    border-image-slice: 1;
  
}

  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); /* Negative value for anticlockwise rotation */
    }
  }
.sideBarLink a{
    text-decoration: none;
    color: #9E9E9E;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.sideBarLink a:hover{
    background: linear-gradient(270deg, #FEBD81 11.87%, #FFE598 55.02%, #BFF4A6 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 2px;
    border-bottom: 2px solid #FEBD81;
}
.sideBarLink .active{
    background: linear-gradient(270deg, #FEBD81 11.87%, #FFE598 55.02%, #BFF4A6 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 2px;
    border-bottom: 2px solid #FEBD81;
}
.sideBarLink li{
    list-style: none;
}
.sideBarLink1{
    position: absolute;
    top: 155px;
    left: 10px;
}
.sideBarLink2{
    position: absolute;
    top: 200px;
    left: 120px;
}
.sideBarLink3{
    position: absolute;
    top: 295px;
    left: 130px;
}
.sideBarLink4{
    position: absolute;
    top: 390px;
    left: 110px;
}
.sideBarLink5{
    position: absolute;
    top: 460px;
    left: 20px;
}
@media screen  and (max-width: 2000px){

    .sidePlanet{
        width: 85%;
    }
}
@media screen  and (max-width: 1500px){
    .sidePlanet{
        border: 1px solid green;
        width: 75%;
    }
}
@media screen  and (max-width: 1400px){
    .sidePlanet{
        width: 72%;
    }
}
@media screen  and (max-width: 1300px){
    .sidePlanet{
        width: 68%;
    }
}
@media screen  and (max-width: 1100px){
    .sidePlanet{
        width: 62%;
    }
}
@media screen  and (max-width: 900px){
    .sidePlanet{
        width: 52%;
        left: -410px;
    }
    .sideBarLink1{
        left: 10px;
    }
    .sideBarLink2{
        top: 210px;
        left: 60px;
    }
    .sideBarLink3{
        left: 55px;
    }
    .sideBarLink4{
        left: 45px;
    }
    .sideBarLink5{
        left: 10px;
    }
}
@media screen  and (max-width: 650px){
    .sidePlanet{
        display: none;
    }
    .sideBarLink{
        display: none;
    }
}