.contactPg{
    width: 100%;
    height: 83%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.contactPgW{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.contactBWrapper{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
}
.contactBtn{
    width: 96%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contactWrapper{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileCBtn button{
    background: linear-gradient(to right, #FFE597, #AAFF82);
    width: Hug (180px);
    height: Hug (48px);
    padding: 9.5px 12px 9.5px 12px;
    border-radius: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
}
.profileCBtn a{
    text-decoration: none;
    color: black;
}
.contact{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contactWrapper p:nth-child(1){
    font-size: 1em;
    z-index: 99;
    color: #D4D4D4;
}
.conBW{
    width: 100%;
}
.conBWr{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.conBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conBody h1{
    font-family: 'KoHo', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
}
.conBody h2{
    font-family: Kalam;
    font-size: 28px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1px;
    text-align: left;
    background: linear-gradient(270deg, #FBAE95 11.87%, #FFE598 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.inforW{
    display: flex;
    justify-content: flex-end;
    width: 27%;
}
.infor{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}
.infor a{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}
.contactIcon{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(163.71deg, #EFAA6B 0.26%, rgba(213, 102, 182, 0.624531) 0.87%, rgba(200, 69, 228, 0.342178) 50.65%, rgba(181, 23, 255, 0.11) 98.68%);
}
.contactIcon i{
    color: white;
    display: flex;
    height: 25px;
    width: 25px;
    opacity: 58%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(163.71deg, #EFAA6B 11.26%, rgba(213, 102, 182, 0.624531) 44.87%, rgba(200, 69, 228, 0.342178) 70.65%, rgba(181, 23, 255, 0.11) 88.68%);
    border-radius: 50%;
}
.contactIcon i svg{
    width: 20px;
}
.mediaWWrappe{
    width: 100%;
}
.mediaWWrappe .mediaW{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mediaW a{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}
.media p{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color: #EEEEEE;
    text-decoration: none;
    border-bottom: 1px solid #EEEEEE;
}
@media screen and (max-width: 750px) {
    .conBody h1{
        font-size: 45px;
    }
    .media p{
        display: none;
    }
    .media .contactIcon{
        width: 42px;
        height: 42px;
    }
    .media .contactIcon i{
        height: 34px;
        width: 34px;
    }
    .media .contactIcon i svg{
        width: 25px;
    }
}
@media screen and (max-width: 650px) {
    .conBody h1{
        font-size: 40px;
    }
    .conBody h2{
        font-size: 25px;
    }
    .contactPg{
        height: 100%;
        padding-bottom: 30px;
    }
    .contactPgW{
        height: 90%;
        width: 100%;
        flex-direction: column-reverse;
    }
    .contactBWrapper{
        height: 10%;
    }
    .contactBtn{
        justify-content: flex-end;
    }
    .profileCBtn button{
        padding: 9px 11px;
    }
    .contact{
        width: 90%;
    }
    .contactWrapper{
        height: 100%;
    }
    .conBW{
        margin-top: 30px;
    }
    .infor{
        margin-left: 5vw;
    }
    .inforW{
        width: 100%;
        justify-content: flex-start;
    }   
}