.navBar ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.navBar ul li{
    text-align: center;
    list-style: none;
}
.navBar ul li a{
    text-decoration: none;
    color: #9E9E9E;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.navBar ul li a:hover{
    color: #FEBD81;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 2px;
    border-bottom: 2px solid #FEBD81;
}
.navBar ul li .active{
    color: #FEBD81;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 2px;
    border-bottom: 2px solid #FEBD81;
}
@media screen and (max-width: 750px) {
    .navBar{
        width: 100%;
        height: 100%;
    }
    .navBar ul{
        width: 100%;
        height: 100%;
        flex-direction: row;
        gap: 0px;
        align-items: flex-end;
        justify-content: space-evenly;
    }  
}