@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Kalam&family=KoHo:wght@500&display=swap');
body {
    overflow-x: hidden;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}